<%= react_component('AssembleUp') %>
<table>
  <tr>
    <td><%= react_component('AssembleLeft')%> </td>
    <td><%= react_component('AssembleRight')%> </td>
  </tr>
</table>
<%= react_component('AssembleDown') %>
